In [3]:
import csv
import pandas as pd
import geopandas as gpd
import pydeck as pdk
import json
import sys 
import getopt 

shapefile = '/Users/maxwell/Desktop/Tansition of World Population/countries_110m /ne_110m_admin_0_countries.shp'
shapefile

'/Users/maxwell/Desktop/Tansition of World Population/countries_110m /ne_110m_admin_0_countries.shp'

In [4]:
gdf = gpd.read_file(shapefile)[['ADMIN', 'ADM0_A3', 'geometry']]
gdf.columns = ['country', 'country_code', 'geometry']
gdf.head()

,country,country_code,geometry
0,Fiji,FJI,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000..."
1,United Republic of Tanzania,TZA,"POLYGON ((33.90371 -0.95000, 34.07262 -1.05982..."
2,Western Sahara,SAH,"POLYGON ((-8.66559 27.65643, -8.66512 27.58948..."
3,Canada,CAN,"MULTIPOLYGON (((-122.84000 49.00000, -122.9742..."
4,United States of America,USA,"MULTIPOLYGON (((-122.84000 49.00000, -120.0000..."

In [5]:
print(gdf[gdf['country'] == 'Antarctica'])
gdf = gdf.drop(gdf.index[159])
#print(gdf[gdf['country'] == 'Antarctica'])

        country country_code  \
159  Antarctica          ATA

                                              geometry
159  MULTIPOLYGON (((-48.66062 -78.04702, -48.15140...

In [6]:
datafile = 'projected-population-by-country.csv'
df = pd.read_csv(datafile, names = ['entity', 'code', 'year', 'population'], skiprows = 1)
df.head()

        entity code  year  population
0  Afghanistan  AFG  1800     3280000
1  Afghanistan  AFG  1801     3280000
2  Afghanistan  AFG  1802     3280000
3  Afghanistan  AFG  1803     3280000
4  Afghanistan  AFG  1804     3280000

In [7]:
#Perform left merge to preserve every row in gdf.
merged = gdf.merge(df, left_on = 'country_code', right_on = 'code', how = 'left')

#year < 2020 
merged = merged.loc[merged["year"] < '2021', :] 

#Replace NaN values to string 'No data'.
merged.fillna('No data', inplace = True)

#change object to value 
merged['year'] = merged['year'].astype(int)
merged['population'] = merged['population'].astype(float)

# delete column of "country, entity, code"
merged.drop(['country_code', 'entity', 'code'], axis='columns', inplace=True)

#change population to normal values.
merged['normal'] = merged['population'] / merged['population'].max()
merged['normal'] = merged['normal'].astype(float)


merged

,country,geometry,year,population,normal
0,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",1800,130533.0,0.000091
1,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",1801,130746.0,0.000091
2,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",1802,130959.0,0.000091
3,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",1803,131172.0,0.000091
4,Fiji,"MULTIPOLYGON (((180.00000 -16.06713, 180.00000...",1804,131386.0,0.000091
...,...,...,...,...,...
50190,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",2016,1378000.0,0.000957
50191,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",2017,1384000.0,0.000962
50192,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",2018,1390000.0,0.000966
50193,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",2019,1395000.0,0.000969
50194,Trinidad and Tobago,"POLYGON ((-61.68000 10.76000, -61.10500 10.890...",2020,1399000.0,0.000972

In [ ]:
#Read data to json
merged_json = merged.to_json()
#merged_json
#Convert to str like object
json_data = json.dumps(merged_json)

In [ ]:
merged_json = json.loads(json_data)
merged_json

In [10]:
#plottable = merged[merged['year'] == 1800].to_dict(orient='records')
#plottable

In [ ]:
geojson = pdk.Layer(
    'GeoJsonLayer',
    data = merged_json, #  datatype should be json
    opacity=0.8,
    stroked=False,
    filled=True,
    extruded=True,
    wireframe=True,
    get_elevation='properties.normal * 100',
    get_fill_color='[255, 1/(properties.normal), 255]',
    #get_line_color=[255, 255, 255],
    pickable=True
)

INITIAL_VIEW_STATE = pdk.ViewState(
  latitude=49.254,
  longitude=-123.13,
  zoom=1,
  max_zoom=16,
  pitch=45,
  bearing=0
)

r = pdk.Deck(
    layers=[geojson],
    initial_view_state=INITIAL_VIEW_STATE,  
    tooltip={
        'html': '<b>Country:</b>{elevationValue}',
        'style': {
            'color': 'white'
        }
    })

r.show()

In [61]:
# Widget slider
import ipywidgets as widgets
from IPython.display import display
slider = widgets.IntSlider(1800, min=1801, max=1900, step=2)

# Define function for Widget
def on_change(v):
    results = merged[merged['year'] == slider.value].to_dict(orient='records')
    geojson.data = results
    r.update()

In [62]:
#merged_json['year']
#merged_json.keys()